{% extends 'blog/base.html' %}
{% block title %}My first Blog in django{% endblock %}


{% block content %}
    <form method ='GET' action=''>
    <input type=text' name='q' placeholder='Search for other users'/>
    <input type="submit" value="SEARCH!!" />

  </form>
    <h4>Hello {{username}}</h4>
    <h2><a href="{% url 'blog:logout_page' %}">Logout</a></h2>
    <h1>Followers </h1>
    {% if followers %}
      <ul>
        {% for i in followers %}
        <li>  {{i}} </br></li>
        {% endfor %}

      </ul>
    {% else %}
      NONE
    {% endif %}
    <h1> Following </h1>
    {% if list %}
      <ul>
        {% for i in list %}
        <li> {{i.user.username}} </br> </li>
        {% endfor %}
      </ul>
    {% else %}
      None
    {% endif %}

    
    <h2>Posts</h2>
    <h2><a href="{%url 'blog:post_new' %}">Add a new Post</a></h2>
    {% if posts %}
        <ul>
        {% for post in posts %}
            {% if post.author == user_profile %}
            <h1><a href="{% url 'blog:view_post' slug=post.slug %}">{{post.title}}</a></h1>
            {% endif %}
        {% endfor %}
        </ul>
    {% else %}
        <li>There are no posts.</li>
    {% endif %}

{% endblock %}
