<!DOCTYPE html>
<html>
    <head>
        <title>{% block head_title %}Search {% endblock %}</title>
    </head>
    <body>
        <h1>{% block title %}Search results:{% endblock %}</h1>
        <a href ='{%url 'blog:index' %}' /> Homepage</a>
        <ul>
        {% for name in list_names %}
            <form method='GET'>
              <h1>{{name.user.username}} {{name.pk}}
                {% if logged_in in name.follows.all %}
                  <a href='{%url 'blog:unfollow' pk=name.pk %}' /> Unfollow</a>
                {% else %}
                  <a href='{%url 'blog:follow' pk=name.pk %}' /> Follow</a>
                {% endif %}
            </h1>
            </form>

        {% endfor %}
        </ul>
        {% block content %}

        {% endblock %}
    </body>
</html>
